* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "ubuntu";
}

body {
    height: 100vh;
    background-color: rgb(34, 90, 149);
}

.calculator {
    width: 400px;
    background-color: rgb(57, 102, 150);
    padding: 50px 30px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 8px;
    box-shadow: 10px 10px rgb(18, 44, 73);
}

.display {
    width: 100%;
}

.display input {
    width: 100%;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: right;
    border: none;
    color: #020202;
    font-size: 30px;
    box-shadow: 0px 3px rgb(19, 50, 82);
}

.display input::placeholder {
    color: #6b6969;
}

.buttons input:active {
    transform: scale(0.95);
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin-top: 40px;
}

.buttons input[type="button"] {
    font-size: 20px;
    padding: 17px;
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 3px 3px rgb(23, 58, 97);
}

.buttons input[type="button"]:hover {
    background-color: rgb(34, 90, 149);
}

input[type="button"]#equal {
    grid-row: span 2;
    background-color: rgb(34, 90, 149);
}

input[type="button"][value="0"] {
    grid-row: span 2;
}